<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQMO Accreditation Portal</title>
    <link rel="stylesheet" href="SQMOStaff_land.css">
</head>

<body>

    <div id="header">
        <img src="XU_header.png" alt="XU_Logo">
        <button id="menuBtn">☰</button>
    </div>

    <div class="page_name">
        <h1>Programs</h1>
        <p>Select a program to continue</p>
    </div>

    <div id="programs"></div>

    <div id="overlay"></div>

    <div id="sidebar">

        <div id="profile">
            <img src="https://via.placeholder.com/80">
            <h3>Someone's Name</h3>
            <p>SQMO Staff</p>
        </div>

        <div id="menu">
            <a href="#" id="adminModeBtn">Admin Mode</a>
            <a href="SQMOStaff_AM.html">Account Management</a>
            <a href="Landing_Page.html">Log Out</a>
        </div>

    </div>

    <script src="SQMOStaff_land.js"></script>

</body>
</html>